.gradeEntry {
    display: flex;
    margin: 0px 0px 12px;
}

.entryBox {
    flex: 50%;
}

input {
    height: 25px;
    width: 80px;
    font-size: 16px;
    border-radius: 2px;
    border: solid 1px black;
    background: rgb(248, 248, 248);
}